.background {
    background-image: url(../Website Photo No.2.avif);
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 100vh;
}

@media (max-width: 767px) { 

    .background {background-size: cover;}
}
