.page {
    padding-top: 10vh; /* Same as navbar height to ensure the page starts below the navbar */
    min-height: 200vh; /* Takes up the rest of the viewport height */
    background-color: white; /* Example background color */
}