.photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid white; /* Add this line to define the white border */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.photo-card img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: cover; /* Ensure the image fills the div while maintaining its aspect ratio */
    border-radius: 10px; /* Match the div's rounded corners */
}
.page {
    background-color: #dfdfdf;
   
}


/* Background Div */
.background {
background-image: none;
background-color: #b89464;
}

/* d2b48c */

.test {
    display: flex;
}

.text {
    color: white;
    width: 500px;
}

