.photo-card {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    max-width: 400px; /* Set a max width for the div */
    margin: 0 auto; /* Center the div within its container */
    border-radius: 10px; /* Optional: Rounded corners for the div */
    overflow: hidden; /* Ensure the image stays within the div */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for a polished look */
    margin-top: 50px;
}

.photo-card img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: cover; /* Ensure the image fills the div while maintaining its aspect ratio */
    border-radius: 10px; /* Match the div's rounded corners */
}
.page {
    background-color: #dfdfdf;
   
}


/* Background Div */
.background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #dfdfdf; /* Light background color for contrast */
    background-image: url('../images/logo.png'); /* Replace with your logo path */
    background-repeat: space;
    background-size: 150px 150px; /* Adjust the size of the logo */
    background-position: 0 0;
   
}